*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #401A12;
    background-color: #A9D4D9;
}
.box{    
    position: absolute;
    top: 50%;
    left: 50%;    
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0,0,0.6);
    padding: 15px;
    border-radius: 15px;
    width: auto;
}
fieldset{
    border: 3px solid #F2C166;
}
legend{
    border: 1px solid #F2C166;
    padding: 10px;
    text-align: center;
    background-color: #F2C166;
    border-radius: 8px;
}
.inputbox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white; 
    outline: none;
    color: #401A12;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelinput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
    color: #401A12;
}
.inputUser:focus ~ .labelinput,.inputUser:valid ~ .labelinput{
    top: -20px;
    font-size: 12px;
    color: #F2C166;
}
#data_nascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}
#datalocal{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}
#enviar{
    background-color: #BF471B;
    width: 100%;
    border: none;
    padding: 15px;
    color: #401A12;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}