*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    width: 100vw;
    height: 100vh;
}
.container{
    width: 500px;
    height: 580px;
    border-width: 10px;    
    border-radius: 20px;     
    background-color: rgba(220, 20, 60, 0.226); 
    box-shadow:  black 1px 1px 1px 1px;
    text-align: center;
}
#nome{
    margin: 20px;
    box-shadow:  black 1px 1px 1px 1px;
    border-radius: 15px;
    height: 50px;
    width: 900px;
}
#email{
        margin: 20px;
        box-shadow:  black 1px 1px 1px 1px;
        border-radius: 15px;
        height: 50px;
        width: 400px;
    
}
#tel{
    margin: 20px;
    box-shadow:  black 1px 1px 1px 1px;
    border-radius: 15px;
    height: 50px;
    width: 400px;

}
#endereco{
    margin: 20px;
    box-shadow:  black 1px 1px 1px 1px;
    border-radius: 15px;
    height: 50px;
    width: 1000px;
}
#cidade{
    margin: 20px;
    box-shadow:  black 1px 1px 1px 1px;
    border-radius: 15px;
    height: 50px;
    width: 250px;
}
#estado{
    margin: 20px;
    box-shadow:  black 1px 1px 1px 1px;
    border-radius: 15px;
    height: 50px;
    width: 250px;
}
#cep{
    margin: 20px;
    box-shadow:  black 1px 1px 1px 1px;
    border-radius: 15px;
    height: 50px;
    width: 250px;
}
#enviar{
    margin: 20px;
    box-shadow:  black 1px 1px 1px 1px;
    border-radius: 15px;
    height: 50px;
    width: 200px;
    text-align: center;
    background-color: rgba(182, 182, 164, 0.356);
    color: rgba(175, 6, 40, 0.788);
    font-size: 2em;
}
label,p, .forme{
    color: rgba(175, 6, 40, 0.788);
}
.consti{
    width: 80px;
}
.constir{
    width: 150px;
}