input{
    border-radius: 20px;
    border-color: blueviolet;
    color: blueviolet;
    margin: 20px;
    padding: 20px;
    height: 40px;
    width: 250PX;
}
button{
    border-radius: 20px;
    border-color: blueviolet;
    color: blueviolet;
    margin: 20px;
    text-align: center;
    height: 40px;
    width: 80px;
}
h1{
    color: blueviolet;
}
#dvis{
    align-items: center;
    
}

label{
    color: blueviolet;
    

}
#nome{
    border-radius: 20px;
    border-color: blueviolet;
    color: blueviolet;
    margin: 10px;
    height: 40px;
    width: 800PX;
}
#endereco{
    border-radius: 20px;
    border-color: blueviolet;
    color: blueviolet;
    margin: 10px;
    height: 40px;
    width: 898PX;
}
.enviar{
    border-radius: 20px;
    border-color: blueviolet;
    color: blueviolet;
    margin: 20px;
    padding: 0px;
    height: 40px;
    width: 100px;

}
html{
    text-align: center;
}
#email{
    border-radius: 20px;
    border-color: blueviolet;
    color: blueviolet;
    margin: 10px;
    height: 40px;
    width: 400PX;
}
#tel{
    border-radius: 20px;
    border-color: blueviolet;
    color: blueviolet;
    margin: 10px;
    height: 40px;
    width: 400PX;
}
#cep{
    border-radius: 20px;
    border-color: blueviolet;
    color: blueviolet;
    margin: 10px;
    height: 40px;
    width: 300PX;
}